.col1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.col2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.col3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
